
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}




.content-spacing {
  margin: var(--content-spacing, 15px);
  padding: calc(var(--content-spacing, 15px) / 2);
}

.section-padding {
  padding-top: var(--section-padding-top, 80px);
}








